/* Reset de márgenes y configuración básica del cuerpo */
body {
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url("src/assets/images/short.gif");
}

/* Contenedor principal con flexbox */
.container {
  display: flex;
  width: 100%;
}

/* Espacio lateral con flexibilidad */
.side-space {
  flex: 1;
  background-color: #fff; /* Color blanco para el espacio a los lados */
}

/* Estilo para el contenedor de géneros */
.genero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  width: 70%; /* Porcentaje del ancho total */
  height: 100vh; /* Ajuste la altura según sus necesidades */
  margin: auto; /* Centra horizontalmente */
}

/* Estilos para títulos */
h1,
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para el formulario con cuadrícula */
/* Estilos para el formulario con cuadrícula */
form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center; /* Centra horizontalmente */
  text-align: center;
}

/* Estilos para etiquetas en el formulario */
label {
  flex: 0 1 auto;
  margin-bottom: 10px;
  text-align: center;
}

/* Ajusta el espacio entre las etiquetas si es necesario */
label:not(:last-child) {
  margin-right: 10px;
}

/* Elimina los estilos de los checkboxes */
input[type="checkbox"] {
  display: none; /* Oculta los checkboxes */
}

/* Elimina los estilos de las etiquetas vinculadas a los checkboxes */
input[type="checkbox"] + label {
  background-color: initial;
  opacity: 1;
  border-radius: 0;
  padding: 0;
  color: initial;
}

/* Elimina el efecto de cambio de estilo al seleccionar los checkboxes */
input[type="checkbox"]:checked + label {
  background-color: initial;
  opacity: 1;
  border-radius: 0;
  padding: 0;
  color: initial;
}
