footer {
  background-color: var(--primary);
  color: #FFFF;
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-item {
  margin: 0 0.5rem;
}

.additional {
  margin-top: 1rem;
}
