:root {
  --primary: #da0e0e;
  --button-color: #FF7300;
  --letter-color: #000000f5;
  --bg-color:#FFFF;
  --bg-color2: #F6F9FC;
  --rounded-element: #F3F5F9;
  color: var(--letter-color);
  background-color: var(--bg-color);
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --body-font-size: .9rem;
  --small-font-size: .75rem;
}
@media screen and (min-width: 960px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --body-font-size: 1rem;
    --small-font-size: .8rem;
  }
}

/* Media Query para adaptar el color al mismo del sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --letter-color: #FFFF;
    --bg-color2: #23272E;
    --bg-color: #272e39;
    --rounded-element: #232932;
  }
  .main-logo img {
    filter: invert(1);
  }
  .contact-logo {
    filter: invert(1);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: var(--body-font-size);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ichiji", sans-serif;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

.title {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  color: var(--letter-color);
}

.main-container {
  height: 100%;
  width: 90%;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--letter-color);
  font-size: var(--h3-font-size);
}
@media screen and (min-width: 960px) {
  .main-container {
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.main-header {
  align-items: center;
  overflow: hidden;
  padding: 0.4rem 2rem;
  display: flex;
  height: 4.5rem;
  width: 100%;
  background-color: var(--bg-color);
  justify-content: space-between;
  box-shadow: -5px -5px 0.7em var(--primary);
  z-index: 10;
  position: fixed;
}

.search-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-container img {
  width: 1.5rem;
  color: var(--primary);
}

.search-input {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.main-menu {
  margin: 0;
  list-style: none;
}
@media screen and (min-width: 960px) {
  .main-menu {
    display: flex;
  }
}

.main-menu__item {
  padding: 1rem;
  transition: transform 0.3s;
}
.main-menu__item:hover {
  transform: scale(1.2);
}

.main-menu__link {
  color: white;
}
@media screen and (min-width: 960px) {
  .main-menu__link {
    color: var(--letter-color);
  }
}

.main-logo img {
  margin-left: 2rem;
  margin-top: 0.2em;
  display: flex;
  height: 4rem;
  transition: transform 0.3s;
}
.main-logo img:hover {
  transform: scale(1.1);
}

.main-nav {
  position: fixed;
  height: calc(100vh - 4.5rem);
  width: 80vw;
  padding: 1rem;
  background-color: var(--primary);
  top: 4.5rem;
  right: -80vw;
  transition: all 0.3s;
  z-index: var(--z-fixed);
}
@media screen and (min-width: 960px) {
  .main-nav {
    position: static;
    background: transparent;
    padding-top: 0;
    height: auto;
    width: auto;
  }
}
.main-nav.show {
  padding-top: 2rem;
  right: 0;
}

.main-menu-toggle {
  margin-top: 1rem;
  margin-right: 1rem;
  width: 2.1rem;
  height: 1.4rem;
  background: linear-gradient(var(--primary) 20%, transparent 20%, transparent 40%, var(--primary) 40%, var(--primary) 60%, transparent 60%, transparent 80%, var(--primary) 80%);
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  .main-menu-toggle {
    display: none;
  }
}

.btn {
  text-align: center;
  align-items: center;
  padding: 0.4em 0.9em;
  margin: 0.5em;
  border-radius: 0.3em;
  border: none;
  background-color: var(--primary);
  color: white;
  font-size: large;
}
.btn:hover {
  filter: drop-shadow(0 0 0.2em #CCC);
  outline: 0.1em solid var(--button-color);
  cursor: pointer;
}

.secundary {
  background-color: var(--bg-color);
  outline: 0.1em solid var(--button-color);
}
.secundary:hover {
  color: var(--bg-color);
  background-color: var(--button-color);
  cursor: pointer;
}

footer {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-item {
  margin: 0 0.5rem;
}

.additional {
  margin-top: 1rem;
}

/* SubMenu.css */
.menu {
  margin-top: 20px;
}

.list {
  border-radius: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  background-color: var(--bg-color2);
  color: var(--primary);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  color: var(--bg-color);
  background-color: rgb(189, 3, 3);
}

.content {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--bg-color2);
  border-radius: 5px;
}

.card-container {
  margin: 0 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-item {
  border-radius: 1rem;
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-item img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.card-item .card-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--primary);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(189, 3, 3);
}

.replay-button {
  background-color: #3498db;
}

.replay-button:hover {
  background-color: #2980b9;
}

.btn-organization {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
